body{
    background-color:white;
    margin:0;
    padding:0px 10px 0px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*{
    box-sizing: border-box;
}
.js{
    border: 1px solid black;
    box-sizing: border-box;
}
.vj{
    padding: 10px;;
}
.title{
    margin-top: 3px;
    border-collapse: collapse;
    position:top right;
    clear: left;
    text-align: right;
}
h1{
    text-align: center;
    font-size: 1.75em;
    font-family: monospace, serif;
    font-weight: bold;
}
.jai{
    font-size: 1.50em;
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding: 5px;
}
section{
    padding:10px;
    clear:right;
}
@media (min-width:992px)
{
    .vj{
        box-sizing: border-box;
        width: 33.33%;
        float:left;
    }
}
@media (max-width:991px) and (min-width:768px){
    .vj{
        width:50%;
        box-sizing: border-box;
        float: left;
    }
    #div3{
        width:100%;
    }
}
#div1{ background-color: #999999;}
#div2{ background-color: #999999;}
#div3 .js{ background-color: #999999;}
#div1 .jai{background-color: #D59898; color: #000000;}
#div2 .jai{background-color: #C14543; color:white;}
#div3 .js .jai{background-color: #E5D198; color: #000000;}
